# Specific folders
CppBase/x64
CppBase/vcpkg_installed
CppBase/CppBase
CppBase/.vs
CppBase/asio
CppProjectOutputCSV/asio
CppProjectOutputCSV/.vs
CppProjectOutputJSON/asio
CppProjectOutputJSON/.vs
CppProjectOutputTest

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app